/* font faces */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter-var-latin.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  display: grid;
  place-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  height: min(95vh, 95vw);
  aspect-ratio: 2 / 3;
  opacity: 0;
  pointer-events: none;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;

  & > a {
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 1;
    transition: opacity 0.2s;
    text-decoration: underline;

    &:not([data-active]) {
      opacity: 0.3;
      text-decoration: none;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
}

canvas {
  display: block;

  &.gl {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
